*{
    padding: 0;
    margin: 0;
}
.box{
    position: relative;
    width: 15vw;
    height: 30vh;
    border: 1px solid #000;
    background-color: blue;
    animation:box 10s linear infinite;
}
@keyframes box {
    0%{
        left: 0;
        top: 0;
        background-color:blue;
    }
    15%{
        left: 700px;
        top: 0px;
        background-color: red;
    }
    30%{
        background-color: aqua;
        top: 430px;
        left: 700px;
    }
    45%{
        background-color: green;
        left: 0;
        top: 0;

    }
    65%{
        background-color: blueviolet;
        left: 0px;
        top:430px;
    }
    80%{
        background-color: blueviolet;
        left: 700px;
        top: 430px;
    }
    100%{
        background-color: crimson;
        top: 0;
        left: 0;
    }
    
}